body {
  background-color: black;
  color: white;
}

.navbar{
  background-color: black !important;
  color: white !important;
}

.btn-custom {
  height: 100px;
  width: 300px;
  font-size: 28px;
  
  background-color: #343a40 !important;
  color: white !important;
}

.btn-custom-home {
  height: 70px;
  width: 200px;
  font-size: 28px;
  border-color: #343a40;
  background-color: #343a40 !important;
  color: white !important;
}

  
.custom-row {
  margin-top: 60px;
}

.tooltip-custom {
  font-size: 26px;
  justify-content: center;
}

.labels{
  font-size:20px
}

