body {
  background-color: #d3d3d3;
  color: black;
}

.navbar{
  background-color: #d3d3d3 !important;
  color: black !important;
}

.btn-custom {
  height: 100px;
  width: 300px;
  font-size: 28px;
  background-color: #7e8891 !important;
  border-color: #7e8891;
  color: black !important;
}

.btn-custom-home {
  height: 70px;
  width: 200px;
  font-size: 28px;
  background-color: #7e8891 !important;
  border-color: #7e8891;
  color: black !important;
}
  
.custom-row {
  margin-top: 60px;
}

.tooltip-custom .tooltip-inner {
  font-size: 26px;
  justify-content: center;    
  background-color: lightgray;
  color: black;
}